body{
    background-color: aqua;
}
h1{
    font-size:30px;
    color: salmon;

}
h2{
    front-size:35px;
    color: red;

}
.big{
    font-size:  60px;
    color:maroon ;
    


}
.uppercase{
    text-transform: uppercase;
}
<!-- this will impact the elements where both big and uppercase at the same time -->
.big.uppercase{
    color: navy;
}
span{
    color: violet;

}



